# App configuration
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:9eYMSF0xobtqhdhaa8yuV7L+L5fTCH6HM7FNHz8Ccjw=
APP_DEBUG=true
APP_URL=http://localhost

# JWT configuration
JWT_SECRET=1Y5sXm8SbN0LKVfoT26Cb9j3OPXiTZMks2x1JTeSiQOxTkHYyK83KTYNuCGrNAxy

# Logging configuration
LOG_CHANNEL=stack
LOG_LEVEL=debug

# Database configuration
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=polarisbd
DB_USERNAME=postgres
DB_PASSWORD=password

# Cache and session configuration
SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync